<main class="main">
  <div class="content">
    <h1>App Reparto de gastos</h1>
    <header>
      <div>
        <button
          type="button"
          id="btn-show-expenses-history"
          class="button"
          (click)="showExpenseHistory()"
        >
          Consultar historial
        </button>
      </div>
    </header>
    <div>
      <fieldset>
        <legend>Personas</legend>
        <form action="">
          <div>
            <label for="participant">Nombre: </label>
            <input
              type="text"
              id="participant"
              placeholder="ingresa la nueva persona"
              [(ngModel)]="participant"
              name="participant"
            />
            <button
              type="button"
              id="btn-add-participant"
              class="button"
              (click)="addParticipant(participant)"
            >
              Agregar persona
            </button>
          </div>
          <div>
            <p>Personas:</p>
            <ul>
              @for (item of participants; track $index) {
              <li>
                {{ item }}
                <button type="button" (click)="removeParticipant(item)">x</button>
              </li>
              }
            </ul>
          </div>
        </form>
      </fieldset>

      <fieldset>
        <legend>Gastos</legend>
        <div>
          <label for="expense-participant">Nombre: </label>
          <input
            type="text"
            id="expense-participant"
            placeholder="ingresa el nombre del acredor"
            [(ngModel)]="creditor"
            name="expense-participant"
          />
        </div>
        <div>
          <label for="expense-amount">Cantidad: </label>
          <input
            type="text"
            id="expense-amount"
            placeholder="ingresa el monto del gasto"
            [(ngModel)]="amount"
            (input)="onInputAmount($event)"
            name="expense-amount"
          />
        </div>
        <button type="button" id="btn-add-expense" (click)="addExpense(creditor, amount)">
          Agregar Gasto
        </button>
      </fieldset>
    </div>

    <div class="resumen">
      <div class="gastos-resumen">
        <h2>Gastos:</h2>
        @for (item of expenses; track $index) {
        <p>{{ item.user }} gastó: {{ item.amount }}</p>
        }
        <button type="button" id="btn-get-result" class="button" (click)="onGetResultClick()">
          Calcular
        </button>
      </div>

      @if(this.result.length > 0) {
      <div class="resultado-resumen">
        <h2>Resultado:</h2>
        @for (item of result; track $index) {
        <p>{{ item.from }} debe pagar: {{ item.amount }} a {{ item.to }}</p>
        }

        <div>
          <button (click)="saveExpense()" id="btn-save" type="button">Guardar</button>
        </div>
      </div>
      } @else {
      <p>Acá verás los resultados del reparto una vez que pulses en "calcular"</p>
      }
    </div>

    @if(showModal) {
    <div class="modal-backdrop" (click)="closeExpenseHistory()"></div>
    <div class="modal">
      <div class="modal-content">
        <h2>Historial de Operaciones</h2>

        @if(expenseHistory.length === 0) {
        <div>
          <p>No hay operaciones guardadas.</p>
        </div>

        } @if (expenseHistory.length > 0) {
        <div class="expense-history-list">
          @for(item of expenseHistory; track $index) {
          <div class="expense-history-item">
            <h3>Operación #{{ item.id }} ({{ item.date | date : 'short' }})</h3>
            <p><strong>Personas:</strong> {{ item.participants.join(', ') }}</p>
            <p><strong>Gastos:</strong></p>
            <ul>
              @for(g of item.expenses; track $index) {
              <li>{{ g.user }} gastó {{ g.amount }}</li>
              }
            </ul>
            <p><strong>Transferencias:</strong></p>
            <ul>
              @for(t of item.transfers; track $index) {
              <li>{{ t.from }} → {{ t.to }}: {{ t.amount }}</li>
              }
            </ul>
            <hr />
          </div>
          }
        </div>
        }
        <div class="modal-actions">
          <button class="button" (click)="closeExpenseHistory()">Cerrar</button>
        </div>
      </div>
    </div>
    } @if(showModalSuggestSave){
    <div class="modal-backdrop" (click)="closeModalSuggestSave()"></div>

    <div class="modal" id="modalSuggestSave">
      <div class="modal-content">
        <h2>Sugerencia</h2>

        <div class="modal-body">
          <p>{{ suggesestSaveMessage }}</p>
        </div>

        <div class="modal-actions">
          <button class="button" (click)="closeModalSuggestSave()">Cerrar</button>
        </div>
      </div>
    </div>
    }
  </div>
</main>

<router-outlet />
